<!DOCTYPE html>
<html lang="fr">
		{% include "head.html" %}
	<h1>Liste des items</h1>
	<ul>
	{% for item in data %}
	<li><a href="{{item['data']['key']}}">{{item['data']['title']}}</a></li>
	{% endfor %}
	</ul>
</body>
</html>
