<!DOCTYPE html>
<html lang="fr">
		{% include "head.html" %}
	<h1>Collections</h1>
	<ul>
		{%for item in data %}
		<li><a href="/collections/{{ item['key'] }}">{{ item['data']['name'] }}</a></li>
		{%endfor%}
	</ul>
</body>
</html>
