<!DOCTYPE html>
<html lang="fr">

		{% include "head.html" %}
	<h1>Collection</h1>
	<ul>
	{%for item in data %}
	{%if item['data']['itemType'] == 'attachment'%}
	{%else%}
	<li><a href="/{{item['data']['key']}}">{{item['citation']|safe}}</a></li>
		{%endif%}
	{%endfor%}
	</ul>
</body>
</html>
