<!DOCTYPE html>
<html lang="fr">
		{% include "head.html" %}
	<h1>{{data['data']['title']}}</h1>
	<p>Type de document: {{data['data']['itemType']}}</p>
	<p>Descriptions brève: {{data['data']['abstractNote']}}</p>
	
	{% for creator in data['data']['creators'] %}

	<p>{{ creator['creatorType'] }}: {{ creator['firstName'] }} {{ creator['lastName'] }}</p>
	{% endfor %}

	{{data['citation']|safe}}

	{% for child in data_children %}
	{% if child['data']['itemType'] == 'attachment' and child['data']['title'] == 'Couverture' %}
	Couverture: <img src="{{child['data']['url']}}">
			 {%endif%}
	{% if child['data']['itemType'] == 'note' %}
	<h2>{{child['data']['title']}} </h2>
	{{child['data']['note']|safe}}
	{%endif%}
	{%endfor%}

	
	{%if data_linked%}
	item connexes:<ul>{%for item in data_linked%}
	<li><a href="/{{item['key']}}">{{item['citation']|safe}}</a>
		{%endfor%}

	{%endif%}


	<br>
	<br>
	<h2>data</h2>
	{{data}}
</body>
</html>
