<!DOCTYPE html>
<html lang="fr">
		{% include "head.html" %}
	<h1>Mots-clés (tags)</h1>
	<ul>
	{%for item in data %}
		<li><a href="/tags/{{ item['tag'] }}">{{ item['tag'] }}</a></li>
	{%endfor%}
	</ul>
</body>
</html>
